<h1>TINY</h1>



  <% if(user){ %>
<h3><%=user.email%></h3>
<a href="/logout">logout</a>
<p><a href='/urls/new'>ADD</a></p>
 <% } else{ %>
<a href="/login">login</a>
<a href="/register">register</a>
<% } %>