<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <h1>LOGIN</h1>
  </header>
      <form method="POST" action="/login">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
      <button type="submit" value="login">login</button>
      </form>
</body>
</html>