<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <%- include partials/_header %>
  </header>
  <ul>
  <% Object.keys(urls).forEach(url => { %>

    <li> <%= url %> : <%= urls[url] %> </li>
    <form method="POST" action="/urls/<%=url%>/delete">
      <input type="submit" value="Delete">
    </form>
  <% }) %>
  </ul>
  <p><a href='/urls/new'>ADD</a></p>
</body>
</html>