<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <%- include partials/_header %>
  </header>
  <p> <%= shortURL%>
    <form action="/urls/<%=shortURL%>/update" method="POST" >
      <input id="longURL" type="text" name="longURL" placeholder=
      "<%=longURL%>" style="">
      <input type="submit" value="Update">
    </form>

</body>
</html>