<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include partials/_header%>

<h1>URLS</h1>
  <ul>
  <% Object.keys(urls).forEach(url => { %>
    <li> <%= url %> : <%= urls[url] %>  </li>
  <% }) %>
  <p><a href='#'>ADD</a></p>
</body>
</html>