<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <%- include partials/_header %>
  </header>
  <ul>
  <% Object.keys(urls).forEach(url => { %>

    <li> <%= url %> : <%= urls[url] %>  </li>
  <% }) %>
  </ul>
  <p><a href='#'>ADD</a></p>
</body>
</html>